DATABASE_URL="postgresql://gymmate:gymmate@localhost:5432/gymmate"
AUTH_SECRET="change-me-to-a-long-random-string-at-least-16-chars"
DEMO_USER_EMAIL="demo@gymmate.local"
DEMO_USER_PASSWORD="demo123"
NEXT_PUBLIC_USE_API="false"
